<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Soket IO</title>
  </head>
  <body>
    <h2>Soket IO</h2>
    <div>
      <input type="text" id="name" placeholder="Name"/>
      <button id="sendMe">Send</button>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
      let socket = io();
      // reserve event
      socket.on('message',function(msg){
      	document.write(msg);
      });
      // custom event
      socket.on('customEvent',function(msg){
      	document.write(msg);
      });
      // client to server
      document.getElementById('sendMe').addEventListener('click',function(){
        const name =  document.getElementById('name').value;
        socket.send(name);
      });

    </script>
  </body>
</html>
